<div class="card" style="width: 18rem;">
      <img class="card-img-top" src={{ImageLinc}} alt="Card image cap">
  <div class="card-body">
    {{#link-to "author.detail" idAuthor}}

  {{Name}}
{{/link-to}}
  </div>
</div>